* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 70%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #18181b;
}

nav {
  max-width: 1400px;
  margin: 0 auto; /* Menggunakan auto untuk memastikan navbar berada di tengah */
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo {
  display: inline-flasdex;
  align-items: center; /* Mengatur vertikal ke tengah */
}

.nav-logo img {
  max-width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 50%; /* Menengahkan garis bawah */
  transform: translateX(-50%); /* Menyempurnakan penempatan garis bawah */
  background-color: #cfb53b;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(207, 181, 59, 1) 0%,
    rgba(148, 27, 63, 1) 90%
  );
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #cfb53b;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

#contact {
  padding: 40px 20px;
  text-align: center;
  border-bottom: 2px solid #aeaaaa;
  align-items: center; /* Menengahkan konten secara horizontal */
  justify-content: center; /* Menengahkan konten secara vertikal */
  height: 100%;
  color: rgb(201, 193, 193);
  border: 5px solid #27272a; /* Menyesuaikan lebar border */
  border-radius: 15px; /* Menambahkan radius sudut untuk border */
  transition: all 0.3s ease; /* Efek transisi untuk perubahan hover */
  background-color: #27272a;
  width: 50%; /* Menyesuaikan lebar elemen dengan textarea */
  margin: auto; /* Menengahkan elemen */
}

#contact h2 {
  margin-bottom: 20px;
  color: #e0e0e0;
}

#contact label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #b5afaf;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 50%;
  padding: 8px;
  margin-bottom: 15px;
  border: none; /* Remove default border */
  border-radius: 5px; /* Add rounded corners */
  font-size: 1.1em;
}

#contact textarea {
  height: 50px;
  resize: vertical;
  text-align: left;
  font-size: 1.1em;
  font-family: inherit;
  margin: auto; /* Untuk membuat textarea berada di tengah */
  display: block; /* Untuk memastikan textarea memiliki display block */
  width: 50%; /* Atur lebar sesuai kebutuhan Anda */
  padding: 8px; /* Atur padding untuk membuatnya lebih rapih */
  box-sizing: border-box; /* Agar padding tidak menambah lebar textarea */
}

#contact button {
  padding: 10px 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(207, 181, 59, 1) 0%,
    rgba(148, 27, 63, 1) 90%
  );
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
  display: block; /* Membuat tombol menjadi blok */
  margin: auto; /* Untuk membuat tombol berada di tengah */
  width: 10%; /* Atur lebar sesuai kebutuhan Anda */
  text-align: center; /* Agar teks di tengah tombol */
  margin-top: 10px;
}

#contact button:hover {
  background-color: #cfb53b;
}

#name,
#email,
#message {
  background-color: #888;
  color: white;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px #cfb53b;
  z-index: -100;
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

footer .column .logo {
  max-width: 100px;
  margin-bottom: 2rem;
}

footer .column p {
  color: #ccc;
  margin-bottom: 2rem;
}

footer .column .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .column .socials a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

footer .column .socials a:hover {
  color: #fff;
  background-color: #cfb53b;
  border-color: #cfb53b;
}

footer .column h4 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

footer .column > a {
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

footer .column > a:hover {
  color: #cfb53b;
}

.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}
