@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 70%;
  display: flex;
  margin-left: 50px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #18181b;
}

nav {
  width: 100%;
  margin: 0 auto; /* Menggunakan auto untuk memastikan navbar berada di tengah */
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo {
  display: inline-flex;
  align-items: center; /* Mengatur vertikal ke tengah */
}

.nav-logo img {
  max-width: 100px;
}

.nav-title {
  display: inline-flex;
  margin-left: 10px;
  font-size: 1.2rem;
  color: #cfb53b;
  font-weight: 600;
  align-items: center; /* Mengatur vertikal ke tengah */
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 50%; /* Menengahkan garis bawah */
  transform: translateX(-50%); /* Menyempurnakan penempatan garis bawah */
  background-color: #cfb53b;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(207, 181, 59, 1) 0%, rgba(148, 27, 63, 1) 90%);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #cfb53b;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px #cfb53b;
  z-index: -100;
}

section .header {
    color: #cfb53b;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
    margin-top: -4rem;
  }

  .sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
    margin-top: -2rem;
    margin-bottom: 3rem;
  }

  main.table {
    width: 60vw;
    height: 70vh;
    background-color: #27272a;
  
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  
    overflow: hidden;
  }
  
  .table__header {
    width: 100%;
    height: 10%;
    background-color: #27272a;
    padding: .8rem 1rem;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .table__header .input-group {
    width: 35%;
    height: 120%;
    background-color: #d5d1defe;
    padding: 0 .8rem;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: .2s;
  }
  
  .table__header .input-group:hover {
    width: 45%;
    background-color: #d5d1defe;
    box-shadow: 0 .1rem .4rem #0002;
  }
  
  .table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
  }
  
  .table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
    color:#000;
  }
  
  .table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
  
    margin: .8rem auto;
    border-radius: .6rem;
  
    overflow: auto;
    overflow: overlay;
  }
  
  
  .table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
  }
  
  .table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
  }
  
  .table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
  }
  
  
  table {
    width: 100%;
  }
  
  td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
  
    vertical-align: middle;
  }
  
  table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
  }
  
  thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
  }
  
  tbody tr:nth-child(even) {
    background-color: #0000000b;
  }
  
  tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
  }
  
  tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
  }
  
  tbody tr:hover {
    background-color: #fff6 !important;
  }
  
  tbody tr td,
  tbody tr td p,
  tbody tr td img {
    transition: .2s ease-in-out;
  }
  
  tbody tr.hide td,
  tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
  }
  
  tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
  }
  
  .status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
  }
  
  .status.delivered {
    background-color: #86e49d;
    color: #006b21;
  }
  
  .status.cancelled {
    background-color: #d893a3;
    color: #b30021;
  }
  
  .status.pending {
    background-color: #ebc474;
  }
  
  .status.shipped {
    background-color: #6fcaea;
  }
  
  
  @media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
  }
  
  thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
  }
  
  thead th:hover span.icon-arrow{
    border: 1.4px solid #cfb53b;
  }
  
  thead th:hover {
    color: #cfb53b;
  }
  
  thead th.active span.icon-arrow{
    background-color: #cfb53b;
    color: #fff;
  }
  
  thead th.asc span.icon-arrow{
    transform: rotate(180deg);
  }
  
  thead th.active,tbody td.active {
    color: #cfb53b;
  }
  
  .export__file {
    position: relative;
  }
  
  .export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #d5d1defe url(img/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
  }
  
  .export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
  }
  
  .export__file input {
    display: none;
  }
  
  .export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
  
    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
  }
  
  .export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
  }
  
  .export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    transition: .2s ease-in-out;
  }
  
  .export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
  }
  
  .export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
  }
  
  .export__file .export__file-options img{
    width: 2rem;
    height: auto;
  }

  footer {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
  }
  
  footer .column .logo {
    max-width: 100px;
    margin-bottom: 2rem;
  }
  
  footer .column p {
    color: #ccc;
    margin-bottom: 2rem;
  }
  
  footer .column .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  footer .column .socials a {
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
  }
  
  footer .column .socials a:hover {
    color: #fff;
    background-color: #cfb53b;
    border-color: #cfb53b;
  }
  
  footer .column h4 {
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  footer .column > a {
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
  }
  
  footer .column > a:hover {
    color: #cfb53b;
  }
  
  .copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
  }
  
  @media (width < 900px) {
    .nav-links {
      display: none;
    }
    header {
      grid-template-columns: repeat(1, 1fr);
    }
    header .image {
      grid-area: 1/1/2/2;
    }
    .features {
      grid-template-columns: repeat(2, 1fr);
    }
    .pricing {
      grid-template-columns: repeat(2, 1fr);
    }
    footer {
      grid-template-columns: 1fr 200px;
    }
  }
  
  @media (width < 600px) {
    header .image::before {
      display: none;
    }
  
    .features {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .pricing {
      grid-template-columns: repeat(1, 1fr);
    }
  
    footer {
      grid-template-columns: 1fr 150px;
    }
  }

  @media only screen and (max-width: 768px) {
    .table__header .input-group {
        max-width: 100%;
        width: 70%;
    }
}

@media only screen and (max-width: 500px) {
  .table__header .input-group {
      max-width: 500px;
      width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .table__header .input-group input {
      width: 100%; 
      padding: 0.5rem; 
  }
}




