@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 70%;
  display: flex;
  margin-left: 50px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #18181b;
}

nav {
  width: 1400px;
  margin: 0 auto; /* Menggunakan auto untuk memastikan navbar berada di tengah */
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo {
  display: inline-flex;
  align-items: center; /* Mengatur vertikal ke tengah */
}

.nav-logo img {
  max-width: 100px;
}

.nav-title {
  display: inline-flex;
  margin-left: 10px;
  font-size: 1.2rem;
  color: #cfb53b;
  font-weight: 600;
  align-items: center; /* Mengatur vertikal ke tengah */
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 50%; /* Menengahkan garis bawah */
  transform: translateX(-50%); /* Menyempurnakan penempatan garis bawah */
  background-color: #cfb53b;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(207, 181, 59, 1) 0%, rgba(148, 27, 63, 1) 90%);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #cfb53b;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px #cfb53b;
  z-index: -100;
}

header .content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
  }

  header .content p {
    margin-bottom: 3rem;
    color: #ccc;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }

  .container img {
    max-width: 450px;
    display: block;
  }

  section .header3 {
    color: #cfb53b;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-top: 2rem;
    text-align: center;
  }

  .features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 2rem;
  }
  
  .features1 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    gap: 2rem;
  }
  
  .features .card {
    display: flex;
    flex: 1;
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
  }
  
  
  
  .features .card .blue {
    background: hsl(196, 42%, 33%);
  }
  
  .features .card .white {
    background: #fefefe;
  }
  
  .features1 .card {
    width: 552px;
    display: flex;
    flex: 1;
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    justify-self: center;
  }
  
  .features .card:hover,
  .features1 .card:hover {
    background-color: #323232;
    border-color: #fff;
  }
  
  .features .card .content,
  .features1 .card .content {
    display: flex;
    flex-direction: column;
    max-width: 334px;
  }
  
  .features .card span,
  .features1 .card span {
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(49,100,119,1) 70%); 
    padding: 2px;
    margin: 10px 26px 10px 10px;
    font-size: 120px;
    color: #000000;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
  }
  
  .features .card h4,
  .features1 .card h4 {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .features .card p,
  .features1 .card p {
    color: #ccc;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  
  .features1 .card p {
    font-size: 0.8rem;
  }
  
  .features .card a,
  .features1 .card a {
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .features .card a:hover,
  .features1 .card a:hover {
    color: #cfb53b;
  }



 
  