@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* ================= INI STYLE DROPDOWN MENU =================*/
/* Style the dropdown button */
.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #18181b;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(
        0,
        0,
        0,
        0.3
    ); /* Warna hitam dengan transparansi 30% */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown links */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a background color to the dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Style the dropdown button on hover */
.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

/* ================= INI STYLE DROPDOWN MENU =================*/
* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 70%;
    display: flex;
    margin-left: 50px;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff6ea;
}

nav {
    max-width: 100%;
    margin: 0 auto; /* Menggunakan auto untuk memastikan navbar berada di tengah */
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    display: inline-flex;
    align-items: center; /* Mengatur vertikal ke tengah */
}

.nav-logo img {
    max-width: 100px;
    min-width: 100px;
}

.nav-title {
    display: inline-flex;
    margin-left: 10px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    align-items: center; /* Mengatur vertikal ke tengah */
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #800000;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

  .btn:hover {
    opacity: 80%;
  }


.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #cfb53b;
    z-index: -100;
}

section .header {
    color: #cfb53b;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
    margin-top: -4rem;
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #18181b;
    margin-top: -2rem;
    margin-bottom: 3rem;
}

main.table {
    width: 60vw;
    height: 70vh;
    background-color: #cbb989;


    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;

    overflow: hidden;
}

main.table4 {
    width: 60vw;
    height: 7vh;
    background-color: #cbb989;


    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #cbb989;
    padding: 0.8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 120%;
    background-color: #f5f5dc;
    padding: 0 0.8rem;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #f5f5dc;
    box-shadow: 0 0.1rem 0.4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 0.5rem 0 0.3rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: #000;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: 0.8rem auto;
    border-radius: 0.6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: 0.5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
    z-index: -1;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #f5f5dc;
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: 0.1s;
    transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: 0.2s ease-in-out 0.5s;
}

.status {
    padding: 0.4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: 0.5rem;
    transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
    border: 1.4px solid #cfb53b;
}

thead th:hover {
    color: #cfb53b;
}

thead th.active span.icon-arrow {
    background-color: #cfb53b;
    color: #fff;
}

thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

thead th.active,
tbody td.active {
    color: #cfb53b;
}

.export__file {
    position: relative;
    z-index: 9999;
}

.export_file .export_file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #f5f5dc url(img/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.export_file .export_file-btn:hover {
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export_file .export_file-options {
    position: absolute;
    right: 0;

    width: 12rem;
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(0.8);
    transform-origin: top right;

    box-shadow: 0 0.2rem 0.5rem #0004;

    transition: 0.2s;
}

.export_file input:checked + .export_file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export_file .export_file-options label {
    display: block;
    width: 100%;
    padding: 0.6rem 0;
    background-color: #F5F5DC;
    z-index: 999;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: 0.2s ease-in-out;
}

.export_file .export_file-options label:first-of-type {
    padding: 1rem 0;
    background-color: #cfb53b !important;
    z-index: 999;
}

.export_file .export_file-options label:hover {
    transform: scale(1.05);
    background-color: #F5F5DC;
    cursor: pointer;
}

.export_file .export_file-options img {
    width: 2rem;
    height: auto;
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 1rem;
}

footer .column .logo {
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p {
    color: #18181b;
    margin-bottom: 2rem;
}

footer .column .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a {
    color: #18181b;
    border: 1px solid #18181b;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover {
    color: #18181b;
    background-color: #18181b;
    border-color: #18181b;
}

footer .column h4 {
    color: #18181b;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a {
    display: block;
    color: #18181b;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover {
    color: #cfb53b;
}

.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #18181b;
    font-size: 0.8rem;
    text-align: center;
}

.table4 a {
    color: #18181b; /* Warna teks tautan */
    font-size: 20px;
    margin-top: 0.5rem;
    display: block; /* Mengubah elemen menjadi block-level */
    text-align: center; /* Pusatkan teks */
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
}

.table4 a:hover {
    color: #f5f5dc;
}

/* .container-f{
    max-width: 1200px;
    margin: auto;
    padding: 4rem 2rem;   
} */

@media (width < 900px) {
    .nav-links {
        display: none;
    }
    header {
        grid-template-columns: repeat(1, 1fr);
    }
    header .image {
        grid-area: 1/1/2/2;
    }
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing {
        grid-template-columns: repeat(2, 1fr);
    }
    footer {
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px) {
    .main-table {
        width: 100%; /* Change width to fit smaller screens */
        height: auto; /* Let the height adjust automatically */
        margin-top: 1.5rem; /* Adjust margin top */
    }
    header .image::before {
        display: none;
    }

    .features {
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        grid-template-columns: 1fr 150px;
    }

    footer .column {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .table__header .input-group {
        max-width: 100%;
        width: 70%;
    }
}

@media only screen and (max-width: 500px) {

  .table__header .input-group {
      width: 100%;
      margin-bottom: 1rem;
      
  }
}

@media only screen and (max-width: 500px) {
    .table__header .input-group input {
        width: 100%;
        padding: 0.5rem;
    }
    .table__header .input-group:hover {
        width: 100%; /* Mengisi lebar 100% saat dihover pada ukuran layar kecil */
    }
    .export_file .export_file-btn {
        margin-top: 1rem;
        width: 2rem; /* Mengubah lebar tombol pada layar kecil */
        height: 2rem; /* Mengubah tinggi tombol pada layar kecil */
        margin-bottom: 3rem;
    }
    .table__header {
        flex-direction: column; /* Mengubah tata letak menjadi vertikal */
        height: 15%; /* Mengubah tinggi menjadi otomatis agar sesuai dengan konten */
        padding: 1rem; /* Mengubah padding untuk penyesuaian di layar kecil */
    }
    thead th {
        width: 500px; /* Ukuran lebar yang lebih besar pada layar kecil */
    }
    thead th span.icon-arrow {
        width: 3rem; /* Mengubah lebar pada layar kecil */
        height: 1.5rem; /* Mengubah tinggi pada layar kecil */
        font-size: 1.2rem; /* Mengubah ukuran font pada layar kecil */
        margin-left: 0.7rem; /* Mengubah margin kiri pada layar kecil */
    }

    .table__body {
        margin-top: 3rem;
    }
}

