form {
  font-size: 1.5rem;
}

select,
input {
  padding: 2px 10px;
  font-size: 1.1rem;
}

label {
  margin-right: 10px;
}

button {
  font-size: 1.3rem;
}

.btn {
  background-color: #d1e3e2;
  padding: 4px 12px;
  border-radius: 25px;
  margin: 0 30px 20px 0;
  cursor: pointer;
  border: solid 1px;
  transition: 0.15s ease;
}

#back-btn {
  translate: 120px -59px;
  display: inline-block;
}

.form-control {
padding: 5px;
font-size: 1.2rem;
}
